{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; color: black; text-align: center; font: 24px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px;  }
       
            #customers {
            border-collapse: collapse;
            border-radius: 5px;
            width: 90%;
            margin-left: 4.5em;
           
            }

            #customers td, #customers th {
            border: 1px solid #ddd;
            text-align: center;
        
            
            }

            #customers tr:nth-child(even){background-color: #E5E4E7;}
            #customers tr:hover {background-color: #D2D1D3 ;}

            #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color:#31469B  ;
            color: white;
            }

         

    </style>


<table id="customers"> 
        
             <tr>
                <div class="columns is-gapless">
                    <th>
                        <div class="column">
                            id commentaire
                        </div>
                    </th>
                     <th>
                        <div class="column">
                            id membre
                        </div>
                    </th>
                    <th>
                        <div class="column">
                            id annonce
                        </div>
                    </th>
                    <th>
                        <div class="column">
                            commentaire
                        </div>
                    </th>
                     <th>
                        <div class="column">
                            date enregistrement
                        </div>
                    </th>
                    <th colspan="3">
                        <div class="column">
                            actions
                        </div>
                    </th>
                </div>
            </tr>
            
            {% for liste in listes %}
                <tr>
                    <td>{{liste.id}}</td>
                    <td>{{liste.membreid.id}}-{{liste.membreid.email}}</td>
                    <td>{{liste.annonceid.id}}-{{liste.annonceid.titre}}</td> 
                    <td>{{liste.commentaire}}</td>
                    <td>{{liste.dateenregistrement|date("m/d/Y H:i:s")}}</td> 
                    <td><a href="#"><i class="fas fa-search"></i></a></td>
                    <td><a href="#"><i class='fa fa-pen'></i></a></td>
                    <td><a href="#"><i class='fa fa-trash'></i></a></td>
                </tr>
            {% endfor %}
        </table>


 




{% endblock %}


